<%- include('./partials/header') %>
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adicionar Questão</title>
    <link rel="stylesheet" type="text/css" href="../form_questao.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid py-3 px-5">
      <h1>Adicionar questão</h1>

      <form class="row g-3">
        <div class="col-md-4">
          <label class="form-label">Enunciado</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ex: Quanto é 2+2?"
            required
          />
        </div>

        <div class="col-md-4">
          <label class="form-label">Disciplina</label>
          <select class="form-select" required>
            <option selected disabled value="">Selecione</option>
            <option>Matemática</option>
            <option>Português</option>
            <option>Ciências</option>
          </select>
        </div>

        <div class="col-12">
          <div id="alternativas-container">
            <label class="pb-2 d-block">Alternativas</label>

            <div class="input-group mb-2 alternativa">
              <div class="input-group-text">
                <input
                  class="form-check-input mt-0"
                  type="radio"
                  name="correta"
                />
              </div>
              <textarea
                class="form-control"
                rows="1"
                placeholder="Digite a alternativa"
              ></textarea>
            </div>

            <div class="input-group mb-2 alternativa">
              <div class="input-group-text">
                <input
                  class="form-check-input mt-0"
                  type="radio"
                  name="correta"
                />
              </div>
              <textarea
                class="form-control"
                rows="1"
                placeholder="Digite a alternativa"
              ></textarea>
            </div>
          </div>

          <button
            id="btnAdicionarAlternativa"
            class="btn btn-light rounded-circle mt-2"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
              />
            </svg>
          </button>
        </div>

        <div class="mb-3 col-12">
          <input type="file" class="form-control" />
        </div>

        <div class="mb-3 col-12">
          <button class="btn btn-danger" type="submit">Enviar questão</button>
        </div>
      </form>
    </div>

    <script src="/stylesheets/script.js"></script>
  </body>
</html>

<%- include('./partials/footer') %>
