<%- include('./partials/header') %>

<main>
  <h2 id="statement"></h2>

  <form id="answerForm">
    <div id="alternatives"></div>
    <button type="submit">Responder</button>
  </form>
</main>

<script src="/js/question-answer.js"></script>
