<%- include('./partials/header') %>
<div class ="container pt-5">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Biomas</h1>
    </div>
      <div class="card-body">
      <h1 class="card-title m-5">Qual bioma do Brasil é conhecido como "floresta branca"?</h1>
       
      

    </div>
  </div>
</div>


<!--<botoes>-->



  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>