<%- include('./partials/header') %>
  <main>
    <section class="question-list">
        <h2>Questões criadas</h2>
        <div id="questionsContainer"></div>
    </section>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>
  <script src="/js/script.js"></script>
  </body>
</html>